* {
  margin: 0;
  padding: 0;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 8px solid black;
  background-color: red;
  color: white;
  padding: 20px;
  height: 145px;
}

#ball {
  border: 8px solid black;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: 110px;
  left: 49%;
  z-index: 1;
  background-color: white;
}

main {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#pes {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 20px;
}

#search {
  margin-left: 4px;
}

#previous, #next {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 0;
}

#PokName {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 0;
}

#imgDiv {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.pkimg {
  width: 150px;
}

#tipo {
  display: flex;
  justify-content: center;
}

#hab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
}

#habDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.habilidade {
  border: 1px solid black;
  padding: 0px;
  margin-bottom: 0;
  width: 125px;
  text-align: center;
}

#ata {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
}

#ataques {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.ataque {
  border: 1px solid black;
  padding: 0px;
  margin-bottom: 0;
  width: 110px;
  text-align: center;
}

.ataqueName {
  border: 1px solid black;
  padding: 0px;
  margin-bottom: 0;
  width: 170px;
  text-align: center;
}

.divata {
  display: flex;

}