* {
  margin: 0;
  padding: 0;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 8px solid black;
  background-color: red;
  color: white;
  padding: 20px;
  height: 145px;
}

#ball {
  border: 8px solid black;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: 110px;
  left: 47%;
  z-index: 1;
  background-color: white;
}

main {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#pes {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 20px;
}

#search {
  margin-left: 4px;
}

#previous, #next {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 0;
}

#PokName {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 0;
}

#imgDiv {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.pkimg {
  width: 150px;
}

#tipo {
  display: flex;
  justify-content: center;
}

#hab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
}

#habDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.habilidade {
  border: 1px solid black;
  padding: 0px;
  margin-bottom: 0;
  width: 125px;
  text-align: center;
}

#ata {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
}

#ataques {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 0;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  align-self: center;
}

.ataque {
  font-weight: bolder;
  border: 1px solid black;
  padding: 0px;
  margin-bottom: 0;
  width: 135px;
  text-align: center;
}

.ataqueName {
  border: 1px solid black;
  padding: 0px;
  margin-bottom: 0;
  width: 140px;
  text-align: center;
}

.damage {
  width: 70px;
}

.atype {
  width: 70px;
}

.app {
  width: 80px;
}

.apower {
  width: 100px;
}

.divata {
  display: flex;
}

.normal {
  background-color: rgb(168,164,164);
}

.grass {
  background-color: rgb(138,197,111);
}

.poison {
  background-color: rgb(172,100,150);
}

.bug {
  background-color: rgb(180,193,60);
}

.fire {
  background-color: rgb(240,82,44);
}

.dark {
  background-color: rgb(111,100,89);
}

.dragon {
  background-color: rgb(132,116,186);
}

.electric {
  background-color: #f2c940;
}

.fairy {
  background-color: rgb(243,179,244);
}

.fight {
  background-color: rgb(119,82,72);
}

.flying {
  background-color: rgb(155,164,224);
}

.ghost {
  background-color: rgb(105,98,158);
}

.ground {
  background-color: rgb(196,164,116);
}

.ice {
  background-color: rgb(95,212,230);
}

.psychic {
  background-color: rgb(213,138,159);
}

.rock {
  background-color: rgb(164,148,108);
}

.steel {
  background-color: rgb(167,164,181);
}

.water {
  background-color: rgb(84,164,228);
}

.physical {
  background-image: url(https://www.serebii.net/pokedex-bw/type/physical.png);
  background-size: 100%;
  background-position: center;
  color: white;
  text-shadow: 0.1em 0.1em 0.2em black
}

.special {
background-image: url(https://www.serebii.net/pokedex-bw/type/special.png);
background-size: 100%;
background-position: center;
color: white;
text-shadow: 0.1em 0.1em 0.2em black

}

.status {
  background-image: url(https://www.serebii.net/pokedex-bw/type/other.png);
  background-size: 100%;
  background-position: center;
  color: black;
  text-shadow: 0.1em 0.1em 0.2em white
}

